.navbar .navbar-brand .brand-text {

  font-family: Arial, Helvetica, sans-serif;
}
.navbar-padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.item-padding{
    padding-right:1rem;
}

.nav-item{
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
}

.hero-bg{
  background-color: #e9eef5;
}

.hero-text {
  max-width: 700px; 
}

body {
  background-color: #f5f7fa;
}

.feature-icon {
  width: 44px;
  height: 44px;
  margin: 0 auto;
  background-color: #e9f2ff; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-links a:hover{
  color: #0d6efd;
}


